<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281841744041-9n7m8julo5l2tcn69f9b89l7cnvqpqu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281841744041-9n7m8julo5l2tcn69f9b89l7cnvqpqu3</string>
	<key>API_KEY</key>
	<string>AIzaSyDzCbXWxP3H9Hn7pz3CfRhn1kRrgF0oMP8</string>
	<key>GCM_SENDER_ID</key>
	<string>281841744041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>neu.northeatern.ZihaoLin.shoppingApp</string>
	<key>PROJECT_ID</key>
	<string>amashopping-67216</string>
	<key>STORAGE_BUCKET</key>
	<string>amashopping-67216.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281841744041:ios:4826c3ccf640301c</string>
	<key>DATABASE_URL</key>
	<string>https://amashopping-67216.firebaseio.com</string>
</dict>
</plist>